.noise::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    opacity: 0.03;
    z-index: 1000;
    pointer-events: none;
    background: url('../../assets/noise.gif');
}
