.noise::before {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 1000vw;
    height: 1000vh;
    content: "";
    opacity: .02;
    z-index: 1000;
    pointer-events: none;
    background: url('../../assets/noise.webp');
}
