<!DOCTYPE html>
<html lang="{{ $.Site.Language }}">
<head>
  {{ block "title" . }}
    {{ $pageData := dict }}
    {{ with .Params.contentKey }}
      {{ with index $.Site.Data.content.pages . }}
        {{ $pageData = . }}
      {{ end }}
    {{ end }}
    <title>{{ if .IsHome }}{{ $.Site.Title }}{{ else }}{{ or $pageData.title .Title }} :: {{ $.Site.Title }}{{ end }}</title>
  {{ end }}
  {{ partial "head.html" . }}
</head>
<body>
{{ $container := cond ($.Site.Params.FullWidthTheme | default false) "container full" (cond ($.Site.Params.CenterTheme | default false) "container center" "container") }}

<div class="page-shell">
  <div class="{{- $container -}}{{- cond ($.Site.Params.oneHeadingSize | default false) " headings--one-size" "" }}">

    {{ partial "header.html" . }}

    <div class="content">
      {{ block "main" . }}
      {{ end }}
    </div>
  </div>
</div>

{{ block "footer" . }}
  {{ partial "footer.html" . }}
{{ end }}

</body>
</html>
