{{ define "main" }}
  {{ $home := $.Site.Data.content.home }}
  {{ if $home.intro }}
    <div class="index-content">
      {{ $home.intro | markdownify }}
    </div>
  {{ else if .Content }}
    <div class="index-content {{ if .Params.framed -}}framed{{- end -}}">
      {{ .Content }}
    </div>
  {{ end }}
  <div class="posts">
    {{ $isntDefault := not (or (eq (trim $.Site.Params.contentTypeName " ") "posts") (eq (trim $.Site.Params.contentTypeName " ") "")) }}
    {{ $contentTypeName := cond $isntDefault (string $.Site.Params.contentTypeName) "posts" }}

    {{ $PageContext := . }}
    {{ if .IsHome }}
      {{ $PageContext = .Site }}
    {{ end }}
    {{ $paginator := .Paginate (where $PageContext.RegularPages "Type" $contentTypeName) }}

    {{ $currentYear := "" }}
    {{ range $paginator.Pages }}
      {{ $year := .Date.Format "2006" }}
      {{ if ne $year $currentYear }}
        <div class="post-year-separator">{{ $year }}</div>
        {{ $currentYear = $year }}
      {{ end }}
      <article class="post on-list">
        <h2 class="post-title">
          <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
        </h2>

        <div class="post-meta">
          {{- if .Date -}}
            <time class="post-date">
              {{- partial "post-date" . -}}
            </time>
          {{- end -}}
          {{- with .Params.Author -}}
            <span class="post-author">{{ . }}</span>
          {{- end -}}
        </div>

        {{ if .Params.tags }}
          <span class="post-tags">
            {{ range .Params.tags }}
            #<a href="{{ (urlize (printf "tags/%s/" . )) | absLangURL }}">
              {{- . -}}
            </a>&nbsp;
            {{ end }}
          </span>
        {{ end }}

      </article>
    {{ end }}

    {{ partial "pagination.html" . }}
  </div>
{{ end }}
