{{ $menu := $.Site.Data.content.menu }}
<ul class="menu menu--mobile">
  <li class="menu__trigger">Menu&nbsp;▾</li>
  <li>
    <ul class="menu__dropdown">
      {{ range $menu }}
        <li><a href="{{ .url }}">{{ .name }}</a></li>
      {{ end }}
      {{ if and $.Site.Params.showLanguageSelector (len $.Site.Home.AllTranslations) }}
        <hr />
        {{ range $.Site.Home.AllTranslations }}
          <li>
            <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </li>
</ul>
